__pycache__/
*.py[cod]
*.db
.venv/
venv/
.env
node_modules/
dist/
.DS_Store
*.log
.vite/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.idea/
mobile/**/GeneratedPluginRegistrant.*
